# Vim files
**.swp
**.swo

data/balanced100/**
data/balanced100-coarseood
data/balanced100-mediumood
data/balanced100-fineood
data/balanced100-finemediumood
data/coarse/**
data/iNaturalist
data/SUN
data/Places
data/Textures
data/imagenet1000-fineood
data/imagenet1000-mediumood
data/imagenet1000-coarseood
data/coarseid-coarseood/
data/coarseid-fineood/

**.out
ckpts/**
**checkpoint.pt-orig
**.pt
**dset.scores

**/__pycache__

.ipynb_checkpoints

tags
resnet18imagenet1000R1

run_metric*.sh
train-imgnet1k-slurm*.sh
slurm-*
metrics-slurm.sh
vallogits-slurm.sh

local/protoc-21.4-osx-aarch_64
