# Vim files
**.swp
**.swo

data/imagenet1000
data/imagenet100
data/balanced100
data/imagenet1000-fineood
data/imagenet1000-mediumood
data/imagenet1000-coarseood
data/balanced100-coarseood
data/balanced100-mediumood
data/balanced100-fineood
data/balanced100-finemediumood
data/imagenet100-coarseood/
data/imagenet100-fineood/
data/iNaturalist
data/SUN
data/Places
data/Textures

**.out
ckpts/**
**checkpoint.pt-orig
**.pt
**dset.scores

**/__pycache__

.ipynb_checkpoints

tags
resnet18imagenet1000R1

run_metric*.sh
train-imgnet1k-slurm*.sh
slurm-*
metrics-slurm.sh
vallogits-slurm.sh
nbdt/
local/

**.DS_Store
lib/protos/*pb2.py
